body {
    background-color: red;
}

header {
    background-color: aqua;
}

nav {
    background-color: green;
}

#navbar {
    list-style-type: none;
}

footer {
    background-color: blue;
}

section {
    background-color: blueviolet;
}