@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');


/* Full page general properties *************************************************************************************************************************/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: #402e32;
    font-family: 'Montserrat', sans-serif;
}

h2, h3 {
    padding: 5px;
    padding-bottom: 10px;
}

p {
    padding: 2px;
    padding-bottom: 8px;
}

iframe {
    height: 350px;
    width: auto;
}

img {
    height: 340px;
    width: auto;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

section {
    background-color: #c4a484;
    text-align: center;
    margin: 10px;
    height: fit-content;
}
/********************************************************************************************************************************************************/


/* All Pages Header and its children properties */
header {
    left: 0;
    top: 0;
    width: 100%;
    background-color: #492600;
    /* color: white; */
    /* text-align: center;  */
    /* font-size: x-large;  */
}

.headerImage {
    background-image: url("../images/orchestra.jpg");
    background-color: #492600;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, .3);

    object-fit: cover;
    object-position: 50% 50%;
}

.headerTitle {
    left: 50%;
    top: 50%;
    text-align: center;
    color: white;
    font-size: xx-large;
    font-family: 'Imperial Script', cursive;

    position: absolute;
    transform: translate(-50%, -50%);
}

/* .navBar {
    height: 30px;
    text-align: center;
    position: sticky;
    top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e5b079;
}

.navBar ul {
    margin-top: 3px;
}

.navBar li {
    text-align: center;
    display: inline;
    padding: 20px;
    text-decoration: none;
    font-size: large;
    color: black;
}

.navBar li:hover {
    background-color: #492600;
    color: white;
}

.navBar li.active {
    background-color: #492600;
    color: white;
} */

#navBar {
    position: sticky;
    top: 0;
    text-align: center;
}

#navBar ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #492600;
    padding: 0;
    margin: 0;
}

#navBar li {
    display: inline-block;
    font-size: large;
}

#navBar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navBar a.active{
    background-color: #734a26; 
    color: white;
}

#navBar a:hover{
    background-color: #734a26;
    color: white;
}

/********************************************************************************************************************************************************/


/* General sections properties **************************************************************************************************************************/


.displayRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
/********************************************************************************************************************************************************/


/* Home Page About Section and its children properties **************************************************************************************************/
#homeAbout {
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#homeAbout h2 {
    text-align: center;
    padding: 2rem;
    text-decoration: underline;
}

#homeAbout img {
    /* border: 2px solid #402e32; */
    height: 450px;
    padding: 5px;
}

.text-center {
    padding: 3rem;
    /* border: 2px solid #402e32; */
}

.text-center p {
    padding: 1rem;
}
/********************************************************************************************************************************************************/


/* Home Page Signup Section properties ******************************************************************************************************************/
#homeClickthrough {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* width: 100%; */
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
}

#homeClasses {
    height: 650px;
    width: 100%;

    background-color: #492600;
    color: white;
    background-image: url("../images/cello_child.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */

    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, .3);

    display: grid;
    align-items: center;
}

#homeClasses a {
    border: 3px solid white;
    padding: 8px;
}

#homeSignup {
    height: 650px;
    width: 100%;

    background-color: #492600;
    color: white;
    background-image: url("../images/violin.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */

    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, .3);

    display: grid;
    align-items: center;
}

#homeSignup a {
    border: 3px solid white;
    padding: 8px;
}
/********************************************************************************************************************************************************/


/* Home Page Contact Section children properties *******************************************************************************************************/
#homeContact {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#homeContact h2 {
    padding: 2rem;
    text-decoration: underline;
}

#address {
    /* border: 2px solid #402e32; */
    height: 400px;
    width: 40%;
}

#address h3 {
    padding: 2%;
}

#address p {
    padding: 1%;
}

#map {
    /* border: 2px solid #402e32; */
    height: 400px;
    width: 58%;
    padding: 5px;
}
/*******************************************************************************************************************************************************/


/* All pages Footer and its children properties *********************************************************************************************************/
.footer {
    /* position: relative; */
    /* left: 0; */
    /* bottom: 0; */
    /* height: 165px; */
    /* width: 100%; */
    background-color: #492600;

    /* justify-content: center; */
    /* align-items: center; */

    /* text-align: center; */
    color: white;
    font-size: 175%;
}

.footer-text {
    text-align: center;
}

#socialNetworks {
    padding: 20px;
}

#socialNetworks li {
    list-style-type: none;
    display: inline;
    margin-left: 10px;
}

#copyright {
    padding: 15px;
    font-size: x-small;
}
/********************************************************************************************************************************************************/


/* All Pages Mobile first queries ***********************************************************************************************************************/
/* Larger than mobile */
@media only screen and (min-width: 400px) {
    #homeClickthrough {
        flex-direction: column;
    }

    .displayRow {
        flex-direction: column;
    }
}

/* Larger than phablet */
@media only screen and (min-width: 550px) {
    #homeClickthrough {
        flex-direction: column;
    }

    .displayRow {
        flex-direction: column;
    }
}

/* Larger than tablet */
@media only screen and (min-width: 750px) {
    #homeClickthrough {
        flex-direction: row;
    }

    .displayRow {
        flex-direction: column;
    }
}

/* Larger than desktop */
@media only screen and (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media only screen and (min-width: 1200px) {
    #homeClickthrough {
        flex-direction: row;
    }

    .displayRow {
        flex-direction: row;
    }
}
/********************************************************************************************************************************************************/


