@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');


/* Full page general properties *************************************************************************************************************************/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: #402e32;
    font-family: 'Montserrat', sans-serif;
}
/********************************************************************************************************************************************************/


/* Header and its children properties */
header {
    left: 0;
    top: 0;
    width: 100%;
    background-color: #492600;
    /* color: white; */
    /* text-align: center;  */
    /* font-size: x-large;  */
}

.hero-image {
    background-image: url("../images/orchestra.jpg");
    background-color: #492600;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    box-shadow: inset 0 0 0 100vmax rgba(0,0,0,.3);
}

.hero-text {
    left: 50%;
    top: 50%;
    text-align: center;
    color: white;
    font-size: xx-large;
    font-family: 'Imperial Script', cursive;

    position: absolute;
    transform: translate(-50%, -50%);
}

.navbar {
    height: 30px;
    text-align: center;
    position: relative;
    padding: 0;
    overflow: hidden;
    background-color: #e5b079;
}

.navbar ul {
    margin-top: 3px;
}

.navbar li {
    text-align: center;
    display: inline;
    padding: 20px;
    text-decoration: none;
    font-size: large;
    color: black;
}

.navbar li:hover {
    background-color: #492600;
    color: white;
}

.navbar li.active {
    background-color: #492600;
    color: white;
}
/********************************************************************************************************************************************************/


/* General links properties *****************************************************************************************************************************/
a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}
/********************************************************************************************************************************************************/


/* General sections properties **************************************************************************************************************************/
section {
    background-color: #c4a484;
    text-align: center;
    margin: 10px;
    /* height: 500px;  */
    height: 365px;
}

#section-left {
    /* background-color: red; */
    text-align: center;
    height: 365px;
    width: 48%;
    margin: 1px;
    float: left;
    /* display: inline; */
}

.section-right {
    /* background-color: blue; */
    text-align: center;
    height: 365px;
    width: 48%;
    margin: 1px;
    float: right;
    /* display: inline; */
}
/********************************************************************************************************************************************************/


/* Home Page About Section and its children properties **************************************************************************************************/
#section-about {
}

#about-img {
    height: 100%;
    width: 40%;
    float: left;
    display: inline;
}

#about-img img {
    height: 365px;
    float: left;
}

#about-para {
    height: 100%;
    width: 60%;
    float: right;
    display: inline;
    text-align: center;
    margin-top: 0.5rem;
}

#about-para h2 {
    margin-top: 8%;
}

/* #section-about h2 {
    text-align: center;
    position: inherit;
    top: 0;
    padding: 5px;
} */

/* #section-about img {
    position: inherit;
    height: 100%;
    bottom: 0;
    float: left;
} */
/********************************************************************************************************************************************************/


.img-left {
    height: 50%;
    /* margin: 25px; */
    /* float: left; */
    display: inline-block;
    vertical-align: middle;
}

.text-center {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    margin-top: 10%;
}

.img-right {
    height: 50%;
    /* margin: 25px; */
    /* float: right; */
    display: inline-block;
    vertical-align: middle;
}


/* Home Page Class Section properties *******************************************************************************************************************/
#section-classes {
    float: left;
    width: 50%;
    height: inherit;
}
/********************************************************************************************************************************************************/


/* Home Page Signup Section properties ******************************************************************************************************************/
#section-signup {
    float: right;
    width: 50%;
    height: inherit;
}

#classes-box {
    height: 100%;

    background-color: #492600;
    background-image: url("../images/cello_child.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */

    box-shadow: inset 0 0 0 100vmax rgba(0,0,0,.3);
}

#signup-box {
    height: 100%;

    background-color: #492600;
    background-image: url("../images/violin.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */

    box-shadow: inset 0 0 0 100vmax rgba(0,0,0,.3);
}
/********************************************************************************************************************************************************/


/* Home Page Contact Section children properties *******************************************************************************************************/
#section-location {

}

#address {
    height: 90%;
    width: 40%;
    float: left;
    display: inline;
    text-align: center;
    margin-top: 0.5rem;
}

#address h3 {
    margin-top: 8%;
}

#map {
    height: 90%;
    width: 60%;
    float: right;
    display: inline;
}

#map iframe {
    margin-top: 1%;
}
/*******************************************************************************************************************************************************/


/* Footer and its children properties ******************************************************************************************************************/
.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    height: 165px;
    width: 100%;
    background-color: #492600;

    justify-content:center;
    align-items:center;

    text-align: center;
    color: white;
    font-size: 175%;
}

.footer-text {
    text-align: center;
}

#social-networks {
    padding: 20px;
}

#social-networks li {
    list-style-type: none;
    display: inline;
    margin-left: 10px;
}

/* #social-networks li:hover {
    background-color: #e5b079;
    color: #492600;
} */

#copyright {
    padding: 15px;
    font-size: x-small;
}
/********************************************************************************************************************************************************/

