@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    /* background-color: red; */
    color: black;
}

header {
    /* position: sticky; */
    left: 0;
    top: 0;
    width: 100%;
    margin-bottom: 0;
    background-color: #492600;
    color: white;
    text-align: center;
    font-size: x-large;
    padding-top: 20px;
    /* padding-bottom: 20px; */
}

img {
    /* height: auto;
    max-width: 100%; */

    width: 100%;
    background-size: auto;
    height: 200px;

    background-repeat: no-repeat;
    /* background-size: contain; */
    
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    text-align: center;
    font-family: 'Imperial Script', cursive;
}

.navbar {
    position: relative;
    padding: 0;
    overflow: hidden;
    background-color: #e5b079;
}

.navbar li {
    text-align: center;
    display: inline;
    padding: 20px;
    text-decoration: none;
    font-size: large;
    color: black;
}

.navbar li:hover {
    background-color: #790800;
    color: inherit;
}

.navbar li.active {
    background-color: #790800;
    color: inherit;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}


/* section {
    background-color: #0044FF;
    position: relative;
    top: 210px;
    padding: 2px;
} */


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #492600;
    color: white;
    font-size: 175%;
    text-align: center;
}

#social-networks li {
    list-style-type: none;
    display: inline;
}

#social-networks li:hover {
    background-color: #790800;
    color: white;
}

#copyright {
    font-size: x-small;
}